.quem-somos-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.quem-somos-textos {
    display: flex;
    justify-content: center;
    line-height: 2;
    width: 50%;
    margin: 20px 0 0 40px;
}

.quem-somos-foto {
    display:flex;
    justify-content: center;
    margin: 20px;
    width: 50%;
}

.quem-somos-img {
    height: 200px !important;
    box-shadow: 5px 5px 5px 5px #1f1e1e44;
}


@media (max-width: 840px){

    .quem-somos-flex { 
        display: flex;
        flex-direction: column !important;
    }
}