@import url('https://fonts.googleapis.com/icon?family=Material+Icons');




a {
  outline: none;
  text-decoration: none;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

body {
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
  background-image: url("./images/bg.jpg");
  margin-bottom: 150px;
}

*{
  outline: none;
}

html {
  position: relative;
  min-height: 100%;
}

.container {
  min-height: 100%;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20%;
}
